.hobbies{
  width: 85vw;
  max-width: 620px;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
  padding: 1rem 0;
  /* set relative for buttons */
  position: relative;
}


.hobbies-container {
  display: flex;
  position: relative;
  height: 450px;
  overflow: hidden;
  justify-content: center;
}

.slide {
  position: absolute;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.slide.active {
  opacity: 1;
  transform: translateX(0);
}
.slide.next {
  transform: translateX(100%);
}
.slide.last {
  transform: translateX(-100%);
}

.img {
  max-width: 500px;  
  height: 400px;
  object-fit: cover;
  border: 1px solid hsl(211, 27%, 70%);
  background: white;
  padding: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
h4 {
  text-transform: uppercase;
  font-weight: 500;
  color: hsl(205, 78%, 60%);
  letter-spacing: 0.1rem;
  margin: 0.5rem 0;
}
.btn {
  position: absolute;
  top: 175px;
  background: hsl(210, 22%, 49%);
  color: white;
  padding: 0.25rem 0.35rem;
  border-radius: 0.25rem;
  border: transparent;
  cursor: pointer;
}
.next-btn {
  right: -0.5rem;
}
.prev-btn {
  left: -0.5rem;
}
@media screen and (min-width: 768px) {
  .next-btn {
    right: -5rem;
  }
  .prev-btn {
    left: -5rem;
  }
  
  .btn {
    font-size: 1.3rem;
    padding: 0.35rem 0.5rem;
  }

}
@media screen and (max-width: 768px) {
    .img{
        max-width: 250px;
        max-height: 250px;
        
    }
}